.navbar{
	background-color:#2ECC71;
	border-bottom:solid black 2px;
	height: 80px;
}
body {
	min-height:650px;
	background:url(../img/bcg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.a {
	color: black !important;
	text-decoration: none;
	text-align: center;
	margin-top: 23px;
	border-right: solid white 1px;
	padding-right: 5px;
	font-size:22px;
}
li>a {
	color: black !important;
	text-decoration: none;
	text-align: center;
	margin-top: 15px;
	font-size:22px;
}
li>a:hover {
	color: white !important;
	text-decoration: none;
	font-size:22px;
}
.logotage {
	height: 90px;
	width: 90px;
	float: left;
}
.navbar-form {
	margin-top: 25px;
}
.title {
	margin-top: 20px;
}
.btn-primary {
	border-radius: 10px;
	border:transparent;
	background-color: black;
	color: white;
}
.btn-primary:hover {
	border-radius: 10px;
	border:transparent;
	background-color: white;
	color: black;
}
.fond_profil {
	background-color: #2ECC71;
	box-shadow: 8px 8px 15px black;
	color: black;
	border-radius: 5px;
	padding-bottom: 10px;
}
.levelink {
	height: 150px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 15px;
	border: solid #2ECC71 1px;
	margin-top: 5px;
}
.leveltitle {
	color: #2ECC71;
	text-align: center;
}
.profil-title {
	text-align: center;
}
.toologo {
	height: 79px;
	width: 80px;
	background: url(../img/treklogo.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.treklist {
	background-color: rgba(0,0,0,0.6);
	border-radius: 15px;
	border: solid #2ECC71 1px;
	margin:5px;
	color: #2ECC71;
}
.accestrek {
	background-color: black;
	border: solid #2ECC71 1px;
	border-radius: 5px;
	padding: 5px 5px 0 5px;
	color: white;
}