.navbar{
	background-color: #2ECC71;
	border:solid #2ECC71 1px;
	height: 80px;
}
body {
	background-color: #4DAF7C;
}
.a {
	color: white !important;
	text-decoration: none;
	text-align: center;
	margin-top: 29px;
	border-right: solid white 1px;
	padding-right: 5px;
}
li>a {
	color: white !important;
	text-decoration: none;
	text-align: center;
	margin-top: 15px;
}
li>a:hover {
	color: #833715 !important;
	text-decoration: none;
}
.logotage {
	height: 60px;
	width: 60px;
	float: left;
}
.navbar-form {
	margin-top: 25px;
}
.title {
	margin-top: 20px;
}
.btn-primary {
	border-radius: 10px;
	border:transparent;
	background-color: #833715;
	color: white;
}
.btn-primary:hover {
	border-radius: 10px;
	border:transparent;
	background-color: #4DAF7C;
	color: white;
}

#fond_profil {
	height: 400px;
	background: white;
	box-shadow: 8px 8px 15px black;
	color: #833715;
}