{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8 levelink">
		<h2 class="leveltitle">Trek de Niveau 1</h2>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8 levelink">
		<h2 class="leveltitle">Trek de Niveau 2</h2>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8 levelink">
		<h2 class="leveltitle">Trek de Niveau 3</h2>
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}